SynapseAnalytics_PL_Start_SQLPool.json
{
    "name": "PL_Start_SQLPOOL",
    "properties": {
        "activities": [
            {
                "name": "Until SQL POOL is Paused or Online",
                "type": "Until",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused')),bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Online')))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Check for changed SQLPool Status",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Sql/servers/@{pipeline().parameters.SynapseDedicatedSQLPool}/databases/@{pipeline().parameters.SynapseDedicatedSQLPoolDB}?api-version=2020-08-01-preview",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "GET",
                                "authentication": {
                                    "type": "MSI",
                                    "resource": " https://management.azure.com/"
                                }
                            }
                        },
                        {
                            "name": "Wait before checking again",
                            "type": "Wait",
                            "dependsOn": [
                                {
                                    "activity": "Check for changed SQLPool Status",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": {
                                    "value": "@pipeline().parameters.WaitTimeUntil",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "timeout": "0.00:20:00"
                }
            },
            {
                "name": "Check if SQL POOL is Paused",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Until SQL POOL is Paused or Online",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@bool(startswith(activity('Check for changed SQLPool Status').output.properties.status,'Paused'))\n",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Resume SQL POOL",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Sql/servers/@{pipeline().parameters.SynapseDedicatedSQLPool}/databases/@{pipeline().parameters.SynapseDedicatedSQLPoolDB}/@{pipeline().parameters.Action}?api-version=2020-08-01-preview",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "POST",
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.azure.com/"
                                }
                            }
                        },
                        {
                            "name": "Wait before Continue",
                            "type": "Wait",
                            "dependsOn": [
                                {
                                    "activity": "Resume SQL POOL",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "Action": {
                "type": "string",
                "defaultValue": "resume"
            },
            "WaitTime": {
                "type": "int",
                "defaultValue": 10
            },
            "WaitTimeUntil": {
                "type": "int",
                "defaultValue": 30
            },
            "Synapse_ResourceGroupName": {
                "type": "string",
                "defaultValue": "RG-ME-DEV-BIGDATA-001"
            },
            "SynapseWorkspace": {
                "type": "string",
                "defaultValue": "synws-edw-dev"
            },
            "SynapseDedicatedSQLPool": {
                "type": "string",
                "defaultValue": "sqlsrvedwdev"
            },
            "SubscriptionId": {
                "type": "string",
                "defaultValue": "f953c81c-YYYY-404c-XXXX-b7eeefa14c75"
            },
            "SynapseDedicatedSQLPoolDB": {
                "type": "string",
                "defaultValue": "sqlsrvedwdev"
            }
        },
        "folder": {
            "name": "Orquestrador - Testes"
        },
        "annotations": []
    }
}
